* {
  margin: 0;
  padding: 0;
  font-family: poppins;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url(./assets/bg.jpeg);
}

#panel {
  width: 1280px;
  height: 631px;
  border-radius: 10px;
  overflow: hidden;
  background: #2e2e2e40;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
}

.ptop {
  width: 100%;
  height: 100px;
  background: #2e2e2e40;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
}

.pheading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20%;
}

.elem {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.elem h2 {
  font-size: 1.75rem;
  font-weight: 800;
  color: #fffffd;
  margin: 0rem 2rem;
  text-transform: uppercase;
}

.elem p {
  font-size: 22px;
  font-weight: 700;
  color: #4ac0d4;
  background: #fffffd;
  padding: 8px;
  border-radius: 5px;
}

.pbtm {
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 3px;
}

.pbtm h1 {
  width: 20%;
  color: #c04692;
  text-align: center;
  cursor: default;
}

.pbtm h1 > span {
  color: #4ac0d4;
}

.bubble {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafaf9;
  background-color: #c04692;
}

.bubble:hover {
  background-color: #4ac0d4;
  cursor: pointer;
}
